<% @page_title = "Edit Page: #{@page.name}" %>

<%= link_to("<< Back to List", {:action => 'index', :subject_id => @subject.id}, :class => 'back-link') %>

<div class="page edit">
  <h2>Update Page</h2>

  <%= form_for(:page, :url => {:action => 'update', :id => @page.id, :subject_id => @subject.id}, :method => "patch") do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update Page") %>
    </div>
    
  <% end %>
</div>
