<h2><%= @page.name %></h2>

<% @page.sections.visible.order("sections.position ASC").each do |section| %>
  <div class="section">
    <% case section.content_type
       when 'HTML' %>
         <%= raw(sanitize(section.content, :tags => ['strong', 'em', 'a'])) %>
    <% when 'text' %>
        <p><%= section.content %></p>
    <% end %>
  </div>
<% end %>