<% subjects ||= [] %>
<ul>
<% subjects.each do |subject| %>
  <li>
    <%= subject.name %>
    <ul>
    <% subject.pages.visible.order("pages.position ASC").each do |page| %>
      <li><%= link_to_unless_current(page.name, :action => 'show', :id => page.permalink) %></li>
    <% end %>
    </ul>
  </li>
  <% end %>
</ul>
